/*
Theme Name: Shinkyoku Advocacy 2015
Author: Greg Bueno
Author URI: http://vigilantmedia.com/
Description: A WordPress theme customized for Shinkyoku Advocacy, based on the Observant Records theme.
Template: observantrecords2015
Version: 2.1.1
Text Domain: shinkyokuadvocacy
*/
@import "../observantrecords2015/style.css";
/*
    Document   : layout
    Created on : Aug 29, 2012, 9:23:54 PM
    Author     : Greg Bueno
    Description:
        Layout style rules for Shinkyoku Advocacy
*/
#masthead {
  background-color: inherit;
  background-image: none;
  margin-top: 1.5em;
}

@media screen and (max-width: 768px) {
  #shinkyoku-advocacy-logo {
    width: 319px;
  }
}
/*
    Document   : typography
    Created on : Aug 29, 2012, 9:24:40 PM
    Author     : Greg Bueno
    Description:
        Typography style rules for Shinkyoku Advocacy
*/
@font-face {
  font-family: "CartoGothicStd";
  src: url("assets/fonts/CartoGothicStd-Book-webfont.eot");
  src: url("assets/fonts/CartoGothicStd-Book-webfont.eot?iefix") format("eot"), url("assets/fonts/CartoGothicStd-Book-webfont.woff") format("woff"), url("assets/fonts/CartoGothicStd-Book-webfont.ttf") format("truetype"), url("assets/fonts/CartoGothicStd-Book-webfont.svg#webfont") format("svg");
}
@font-face {
  font-family: "CartoGothicStd";
  src: url("assets/fonts/CartoGothicStd-Book-webfont.eot");
  src: url("assets/fonts/CartoGothicStd-Book-webfont.eot?iefix") format("eot"), url("assets/fonts/CartoGothicStd-Book-webfont.woff") format("woff"), url("assets/fonts/CartoGothicStd-Book-webfont.ttf") format("truetype"), url("assets/fonts/CartoGothicStd-Book-webfont.svg#webfont") format("svg");
  font-weight: bold;
  font-style: italic, oblique;
}
@font-face {
  font-family: "CartoGothicStd";
  src: url("assets/fonts/CartoGothicStd-Book-webfont.eot");
  src: url("assets/fonts/CartoGothicStd-Book-webfont.eot?iefix") format("eot"), url("assets/fonts/CartoGothicStd-Book-webfont.woff") format("woff"), url("assets/fonts/CartoGothicStd-Book-webfont.ttf") format("truetype"), url("assets/fonts/CartoGothicStd-Book-webfont.svg#webfont") format("svg");
  font-weight: bold;
}
body {
  font-size: 16px;
  line-height: 1.6326530617;
}

#content {
  font-family: "CartoGothicStd", Helvetica, Arial, sans-serif;
}
